In [1]:
import os, sys
sys.path.insert(0, os.path.dirname(os.getcwd()))

In [2]:
import json
import pandas as pd
import numpy as np

from ml_trader.utils import load_config
from ml_trader.data_loaders.quandl import (quandl_base_to_df,
                                           load_quandl_df,
                                           quandl_quarterly_to_df,
                                           quandl_daily_to_df,
                                           quandl_commodity_to_df)

In [3]:
config = load_config()
TICKERS = config["tickers"]
len(TICKERS), TICKERS[:10]

(1492,
 ['ZI', 'HALO', 'WGO', 'VIPS', 'OSK', 'MAC', 'BJRI', 'HCCI', 'HSC', 'ANAB'])

## Get Dataframes

### Quandl Base

In [4]:
df_base = quandl_base_to_df(
    filepath=os.path.dirname(os.getcwd()) + '/datasets/quandl/SHARADAR_TICKERS_6cc728d11002ab9cb99aa8654a6b9f4e.csv',
    tickers=TICKERS,
)
df_base

,table,permaticker,ticker,name,exchange,isdelisted,category,cusips,siccode,sicsector,...,currency,location,lastupdated,firstadded,firstpricedate,lastpricedate,firstquarter,lastquarter,secfilings,companysite
0,SF1,196290,A,Agilent Technologies Inc,NYSE,N,Domestic Common Stock,00846U101,3826.0,Manufacturing,...,USD,California; U.S.A,2021-06-01,2014-09-26,1999-11-18,2021-07-21,1997-06-30,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.agilent.com
1,SF1,124392,AA,Alcoa Corp,NYSE,N,Domestic Common Stock,013872106,3334.0,Manufacturing,...,USD,Pennsylvania; U.S.A,2021-05-05,2016-11-01,2016-11-01,2021-07-21,2014-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.alcoa.com
2,SF1,199960,AAL,American Airlines Group Inc,NASDAQ,N,Domestic Common Stock,02376R102,4512.0,Transportation Communications Electric Gas And...,...,USD,Texas; U.S.A,2021-04-22,2015-04-14,2013-12-09,2021-07-21,2012-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.aa.com
3,SF1,632687,AAN,Aaron's Company Inc,NYSE,N,Domestic Common Stock,00258W108,7359.0,Services,...,USD,Georgia; U.S.A,2021-05-02,2020-12-02,2020-11-25,2021-07-21,2018-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,NaN
4,SF1,198259,AAON,Aaon Inc,NASDAQ,N,Domestic Common Stock,000360206,3585.0,Manufacturing,...,USD,Oklahoma; U.S.A,2021-05-06,2014-10-14,1992-12-16,2021-07-21,1996-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.aaon.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1487,SF1,194904,ZUMZ,Zumiez Inc,NASDAQ,N,Domestic Common Stock,989817101,5600.0,Retail Trade,...,USD,Washington; U.S.A,2021-06-07,2014-10-27,2005-05-06,2021-07-21,2003-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.zumiez.com
1488,SF1,119847,ZUO,Zuora Inc,NYSE,N,Domestic Common Stock,98983V106,7372.0,Services,...,USD,California; U.S.A,2021-06-04,2018-04-14,2018-04-12,2021-07-21,2016-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.zuora.com
1489,SF1,634860,ZY,Zymergen Inc,NASDAQ,N,Domestic Common Stock,98985X100,8731.0,Services,...,USD,California; U.S.A,2021-05-27,2021-04-22,2021-04-22,2021-07-21,2019-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.zymergen.com
1490,SF1,157146,ZYNE,Zynerba Pharmaceuticals Inc,NASDAQ,N,Domestic Common Stock,98986X109,2834.0,Manufacturing,...,USD,Pennsylvania; U.S.A,2021-05-12,2016-04-15,2015-08-05,2021-07-21,2013-12-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.zynerba.com
1491,SF1,198130,ZYXI,Zynex Inc,NASDAQ,N,Domestic Common Stock,98986M103,3845.0,Manufacturing,...,USD,Colorado; U.S.A,2021-04-30,2016-02-17,2004-02-25,2021-07-21,2008-03-31,2021-03-31,https://www.sec.gov/cgi-bin/browse-edgar?actio...,http://www.zynex.com

### Quandl Quarterly

#### Experiments

In [5]:
ticker = "TSLA"
dimension = "ARQ"
max_quarters = None

In [6]:
base_path = os.path.dirname(os.getcwd()) + '/datasets/quandl/quarterly'
path = f'{base_path}/{ticker}.json'
if not os.path.exists(path):
    print(f'Error: {ticker}')

df = load_quandl_df(path)
df

,ticker,dimension,calendardate,datekey,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,...,sharesbas,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital
0,TSLA,MRY,2020-12-31,2020-12-31,2020-12-31,2021-05-28,363000000,52148000000,4.330600e+10,26717000000,...,947900733,933000000,933000000,33.801,51628000000,0,292000000,0,55.335,12469000000
1,TSLA,MRY,2019-12-31,2019-12-31,2019-12-31,2021-05-28,-36000000,34309000000,3.197228e+10,12103000000,...,901224290,887000000,887000000,27.709,33772000000,0,110000000,0,38.074,1436000000
2,TSLA,MRY,2018-12-31,2018-12-31,2018-12-31,2021-05-28,-8000000,29740000000,2.854604e+10,8307000000,...,858663875,853000000,853000000,25.159,29390000000,0,58000000,0,34.455,-1686000000
3,TSLA,MRY,2017-12-31,2017-12-31,2017-12-31,2021-05-28,33348000,28655372000,2.696497e+10,6570520000,...,840336975,830000000,830000000,14.167,28233633000,0,32000000,0,34.016,-1104150000
4,TSLA,MRY,2016-12-31,2016-12-31,2016-12-31,2021-05-28,-23740000,22664076000,1.407928e+10,6259796000,...,749455950,721060000,721060000,9.708,22287931000,0,26698000,0,30.910,432791000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,TSLA,ARQ,2017-03-31,2017-05-10,2017-03-31,2021-05-28,-20769000,25053726000,NaN,7027889000,...,821298680,810645000,810645000,3.326,24624134000,0,25278000,0,30.376,782450000
90,TSLA,ARQ,2016-12-31,2017-03-01,2016-12-31,2021-05-28,-23740000,22664076000,NaN,6259796000,...,808352140,775525000,775525000,2.946,22287931000,0,11070000,0,28.739,432791000
91,TSLA,ARQ,2016-09-30,2016-11-02,2016-09-30,2021-05-28,25310000,12592397000,NaN,5172412000,...,749455950,744955000,744955000,3.085,12592397000,0,8133000,0,16.904,1090022000
92,TSLA,ARQ,2016-06-30,2016-08-05,2016-06-30,2021-05-28,34193000,11868952000,NaN,5203705000,...,743463025,699915000,699915000,1.815,11868952000,0,3649000,0,16.958,1437301000
93,TSLA,ARQ,2016-03-31,2016-05-10,2016-03-31,2021-05-28,13565000,9191702000,NaN,3239543000,...,669723110,663380000,663380000,1.729,9191702000,0,3846000,0,13.856,51844000

In [7]:
# Filter ARQ dimension
df = df[df['dimension'] == dimension]

# Sort by date
df['date'] = df['datekey'].astype(np.datetime64)
df = df.sort_values('date', ascending=False)
del df['datekey']
df

/var/folders/gr/4jg0n8j94lgf5k2lst6xpjm80000gn/T/ipykernel_1246/2301409794.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = df['datekey'].astype(np.datetime64)

   ticker dimension calendardate reportperiod lastupdated     accoci  \
73   TSLA       ARQ   2021-03-31   2021-03-31  2021-05-28  143000000
74   TSLA       ARQ   2020-12-31   2020-12-31  2021-05-28  363000000
75   TSLA       ARQ   2020-09-30   2020-09-30  2021-05-28  125000000
76   TSLA       ARQ   2020-06-30   2020-06-30  2021-05-28  -40000000
77   TSLA       ARQ   2020-03-31   2020-03-31  2021-05-28 -113000000
78   TSLA       ARQ   2019-12-31   2019-12-31  2021-05-28  -36000000
79   TSLA       ARQ   2019-09-30   2019-09-30  2021-05-28 -120000000
80   TSLA       ARQ   2019-06-30   2019-06-30  2021-05-28   -5605000
81   TSLA       ARQ   2019-03-31   2019-03-31  2021-05-28  -35019000
82   TSLA       ARQ   2018-12-31   2018-12-31  2021-05-28   -8218000
83   TSLA       ARQ   2018-09-30   2018-09-30  2021-05-28    8271000
84   TSLA       ARQ   2018-06-30   2018-06-30  2021-05-28   18545000
85   TSLA       ARQ   2018-03-31   2018-03-31  2021-05-28   82921000
86   TSLA       ARQ   2017-12-31   2017-12-31  2021-05-28   33348000
87   TSLA       ARQ   2017-09-30   2017-09-30  2021-05-28   21250000
88   TSLA       ARQ   2017-06-30   2017-06-30  2021-05-28   10961000
89   TSLA       ARQ   2017-03-31   2017-03-31  2021-05-28  -20769000
90   TSLA       ARQ   2016-12-31   2016-12-31  2021-05-28  -23740000
91   TSLA       ARQ   2016-09-30   2016-09-30  2021-05-28   25310000
92   TSLA       ARQ   2016-06-30   2016-06-30  2021-05-28   34193000
93   TSLA       ARQ   2016-03-31   2016-03-31  2021-05-28   13565000

         assets  assetsavg      assetsc     assetsnc  ...   shareswa  \
73  52972000000        NaN  24705000000  28267000000  ...  961000000
74  52148000000        NaN  26717000000  25431000000  ...  951000000
75  45691000000        NaN  21744000000  23947000000  ...  937000000
76  38135000000        NaN  15336000000  22799000000  ...  930000000
77  37250000000        NaN  14893000000  22357000000  ...  915000000
78  34309000000        NaN  12103000000  22206000000  ...  900000000
79  32795000000        NaN  10940000000  21855000000  ...  895000000
80  31872597000        NaN  10181952000  21690645000  ...  883270000
81  28912524000        NaN   7677822000  21234702000  ...  864945000
82  29739614000        NaN   8306308000  21433306000  ...  860215000
83  29262713000        NaN   7920491000  21342222000  ...  854465000
84  27910000000        NaN   6699797000  21210203000  ...  849985000
85  27271429000        NaN   6383920000  20887509000  ...  845730000
86  28655372000        NaN   6570520000  22084852000  ...  841705000
87  28107074000        NaN   7068733000  21038341000  ...  836470000
88  26043705000        NaN   6359444000  19684261000  ...  826060000
89  25053726000        NaN   7027889000  18025837000  ...  810645000
90  22664076000        NaN   6259796000  16404280000  ...  775525000
91  12592397000        NaN   5172412000   7419985000  ...  744955000
92  11868952000        NaN   5203705000   6665247000  ...  699915000
93   9191702000        NaN   3239543000   5952159000  ...  663380000

    shareswadil     sps    tangibles  taxassets     taxexp  taxliabilities  \
73    961000000  10.811  52467000000          0   69000000               0
74    951000000  11.298  51628000000          0   83000000               0
75    937000000   9.361  45170000000          0  186000000               0
76    930000000   6.490  37627000000          0   21000000               0
77    915000000   6.541  36734000000          0    2000000               0
78    900000000   8.204  33772000000          0   42000000               0
79    895000000   7.042  32258000000          0   26000000               0
80    883270000   7.189  31391764000          0   19431000               0
81    864945000   5.251  28564644000          0   22873000               0
82    860215000   8.400  29388963000          0   21878000               0
83    854465000   7.987  28906011000          0   16647000               0
84    849985000   4.709  27545310000          0   13707000               0
85    845730000   4.031  26863717000          0    5605000               0
86    841705000   3.907  28233633000          0   -9094000               0
87    836470000   3.568  27689600000          0    -285000               0
88    826060000   3.377  25619092000          0   15647000               0
89    810645000   3.326  24624134000          0   25278000               0
90    775525000   2.946  22287931000          0   11070000               0
91    744955000   3.085  12592397000          0    8133000               0
92    699915000   1.815  11868952000          0    3649000               0
93    663380000   1.729   9191702000          0    3846000               0

     tbvps  workingcapital       date
73  54.596      9828000000 2021-04-28
74  54.288     12469000000 2021-02-08
75  48.207      8442000000 2020-10-26
76  40.459      3066000000 2020-07-28
77  40.146      2907000000 2020-04-30
78  37.524      1436000000 2020-02-13
79  36.042       794000000 2019-10-29
80  35.540       593179000 2019-07-29
81  33.025     -1564978000 2019-04-29
82  34.165     -1685828000 2019-02-19
83  33.829     -1854833000 2018-11-02
84  32.407     -2441565000 2018-08-06
85  31.764     -2266439000 2018-05-07
86  33.543     -1104150000 2018-02-23
87  33.103       599793000 2017-11-03
88  31.014      -186911000 2017-08-04
89  30.376       782450000 2017-05-10
90  28.739       432791000 2017-03-01
91  16.904      1090022000 2016-11-02
92  16.958      1437301000 2016-08-05
93  13.856        51844000 2016-05-10

[21 rows x 111 columns]

In [8]:
if max_quarters is not None:
    df = df[:max_quarters]

#### Load actual

Code above was wrapped with `quandl_quarterly_to_df`

In [9]:
df_quarterly = quandl_quarterly_to_df(
    base_path=base_path,
    tickers=TICKERS,
)
df_quarterly

,ticker,dimension,calendardate,reportperiod,lastupdated,accoci,assets,assetsavg,assetsc,assetsnc,...,shareswa,shareswadil,sps,tangibles,taxassets,taxexp,taxliabilities,tbvps,workingcapital,date
0,ZI,ARQ,2021-03-31,2021-03-31,2021-05-03,1600000.0,2.547000e+09,NaN,485500000.0,2061500000.0,...,391359732.0,None,0.392,1.192800e+09,585900000.0,49700000.0,483700000.0,3.048,137300000.0,2021-05-03
1,ZI,ARQ,2020-12-31,2020-12-31,2021-05-03,-2400000.0,2.327400e+09,NaN,454200000.0,1873200000.0,...,390660062.0,None,0.358,9.616000e+08,418100000.0,-5100000.0,282700000.0,2.461,133400000.0,2021-02-26
2,ZI,ARQ,2020-09-30,2020-09-30,2021-05-03,-2900000.0,2.048500e+09,NaN,421400000.0,1627100000.0,...,389311016.0,None,0.317,7.417000e+08,242200000.0,1400000.0,195600000.0,1.905,173900000.0,2020-11-30
3,ZI,ARQ,2020-09-30,2020-09-30,2021-05-03,-2900000.0,2.048500e+09,NaN,421400000.0,1627100000.0,...,389311016.0,None,0.317,7.417000e+08,242200000.0,1400000.0,195600000.0,1.905,173900000.0,2020-11-13
4,ZI,ARQ,2020-06-30,2020-06-30,2021-05-03,-2800000.0,1.981600e+09,NaN,372700000.0,1608900000.0,...,389249421.0,None,0.285,6.646000e+08,216000000.0,-12900000.0,115400000.0,1.707,135000000.0,2020-08-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28781,TXG,ARQ,2020-06-30,2020-06-30,2021-05-09,314000.0,5.828020e+08,NaN,451584000.0,131218000.0,...,98978283.0,98978283.0,0.433,5.828020e+08,0.0,422000.0,0.0,5.888,329404000.0,2020-08-12
28782,TXG,ARQ,2020-03-31,2020-03-31,2021-05-09,-41000.0,6.103840e+08,NaN,429732000.0,180652000.0,...,96829093.0,96829093.0,0.743,6.103840e+08,0.0,298000.0,0.0,6.304,370664000.0,2020-05-12
28783,TXG,ARQ,2019-12-31,2019-12-31,2021-05-09,-46000.0,6.059230e+08,NaN,480840000.0,125083000.0,...,39091366.0,39091366.0,1.926,6.059230e+08,0.0,108000.0,0.0,15.500,417791000.0,2020-02-27
28784,TXG,ARQ,2019-09-30,2019-09-30,2021-05-09,-160000.0,5.728150e+08,NaN,474144000.0,98671000.0,...,29184218.0,29184218.0,2.097,5.728150e+08,0.0,8000.0,0.0,19.628,425908000.0,2019-11-12
28785,TXG,ARQ,2019-06-30,2019-06-30,2021-05-09,-34000.0,1.555940e+08,NaN,107226000.0,48368000.0,...,15187258.0,NaN,NaN,1.555940e+08,0.0,NaN,0.0,10.245,63999000.0,2019-09-10

### Quandl Daily

##### Experiments

In [10]:
base_path = os.path.dirname(os.getcwd()) + '/datasets/quandl/daily'
path = f'{base_path}/{ticker}.json'
if not os.path.exists(path):
    print(f'Error: {ticker}')

df = load_quandl_df(path)
df

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,TSLA,2021-07-20,2021-07-20,630010.8,289.0,137.9,636279.8,27.6,556.7,17.7
1,TSLA,2021-07-19,2021-07-19,616254.4,282.7,134.8,622523.4,27.0,544.6,17.3
2,TSLA,2021-07-16,2021-07-16,614327.7,281.8,134.4,620596.7,27.0,543.0,17.3
3,TSLA,2021-07-15,2021-07-15,620473.8,284.6,135.8,626742.8,27.2,548.3,17.4
4,TSLA,2021-07-14,2021-07-14,623151.8,285.8,136.4,629420.8,27.3,550.7,17.5
...,...,...,...,...,...,...,...,...,...,...
1391,TSLA,2016-01-08,2020-08-31,28857.7,-52.0,-138.5,27630.7,21.0,-40.9,7.3
1392,TSLA,2016-01-07,2020-08-31,29466.7,-53.1,-141.4,28239.7,21.5,-41.8,7.5
1393,TSLA,2016-01-06,2020-08-31,29910.6,-53.9,-143.5,28683.6,21.8,-42.4,7.6
1394,TSLA,2016-01-05,2020-08-31,30485.5,-54.9,-146.3,29258.5,22.3,-43.3,7.7
1395,TSLA,2016-01-04,2020-08-31,30482.8,-54.9,-146.3,29255.8,22.3,-43.3,7.7

In [11]:
# Sort by date
df['date'] = df['date'].astype(np.datetime64)
df = df.sort_values('date', ascending=False)
df

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,TSLA,2021-07-20,2021-07-20,630010.8,289.0,137.9,636279.8,27.6,556.7,17.7
1,TSLA,2021-07-19,2021-07-19,616254.4,282.7,134.8,622523.4,27.0,544.6,17.3
2,TSLA,2021-07-16,2021-07-16,614327.7,281.8,134.4,620596.7,27.0,543.0,17.3
3,TSLA,2021-07-15,2021-07-15,620473.8,284.6,135.8,626742.8,27.2,548.3,17.4
4,TSLA,2021-07-14,2021-07-14,623151.8,285.8,136.4,629420.8,27.3,550.7,17.5
...,...,...,...,...,...,...,...,...,...,...
1391,TSLA,2016-01-08,2020-08-31,28857.7,-52.0,-138.5,27630.7,21.0,-40.9,7.3
1392,TSLA,2016-01-07,2020-08-31,29466.7,-53.1,-141.4,28239.7,21.5,-41.8,7.5
1393,TSLA,2016-01-06,2020-08-31,29910.6,-53.9,-143.5,28683.6,21.8,-42.4,7.6
1394,TSLA,2016-01-05,2020-08-31,30485.5,-54.9,-146.3,29258.5,22.3,-43.3,7.7
1395,TSLA,2016-01-04,2020-08-31,30482.8,-54.9,-146.3,29255.8,22.3,-43.3,7.7

In [12]:
df['marketcap'] = df['marketcap'].astype(float) * 1e6
df.head()

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,TSLA,2021-07-20,2021-07-20,630010.8,289.0,137.9,6.362798e+11,27.6,556.7,17.7
1,TSLA,2021-07-19,2021-07-19,616254.4,282.7,134.8,6.225234e+11,27.0,544.6,17.3
2,TSLA,2021-07-16,2021-07-16,614327.7,281.8,134.4,6.205967e+11,27.0,543.0,17.3
3,TSLA,2021-07-15,2021-07-15,620473.8,284.6,135.8,6.267428e+11,27.2,548.3,17.4
4,TSLA,2021-07-14,2021-07-14,623151.8,285.8,136.4,6.294208e+11,27.3,550.7,17.5

In [13]:
df = df.infer_objects()
df.head()

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,TSLA,2021-07-20,2021-07-20,630010.8,289.0,137.9,6.362798e+11,27.6,556.7,17.7
1,TSLA,2021-07-19,2021-07-19,616254.4,282.7,134.8,6.225234e+11,27.0,544.6,17.3
2,TSLA,2021-07-16,2021-07-16,614327.7,281.8,134.4,6.205967e+11,27.0,543.0,17.3
3,TSLA,2021-07-15,2021-07-15,620473.8,284.6,135.8,6.267428e+11,27.2,548.3,17.4
4,TSLA,2021-07-14,2021-07-14,623151.8,285.8,136.4,6.294208e+11,27.3,550.7,17.5

#### Load actual

Code above was wrapped with `quandl_daily_to_df`

In [14]:
df_daily = quandl_daily_to_df(
    base_path=base_path,
    tickers=TICKERS,
)
df_daily

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,ZI,2021-07-21,2021-07-21,21033.0,199.7,132.0,2.048380e+10,37.0,-25604.7,38.8
1,ZI,2021-07-20,2021-07-20,21095.6,200.3,132.3,2.054640e+10,37.1,-25683.0,39.0
2,ZI,2021-07-19,2021-07-19,20258.1,192.4,127.1,1.970890e+10,35.6,-24636.1,37.4
3,ZI,2021-07-16,2021-07-16,20019.3,190.1,125.6,1.947010e+10,35.1,-24337.6,36.9
4,ZI,2021-07-15,2021-07-15,20019.3,190.1,125.6,1.947010e+10,35.1,-24337.6,36.9
...,...,...,...,...,...,...,...,...,...,...
1903941,TXG,2019-09-18,2020-08-12,5725.3,-55.9,-58.1,5.756700e+09,-25.3,-54.6,29.3
1903942,TXG,2019-09-17,2020-08-12,5240.6,-51.1,-53.2,5.272000e+09,-23.1,-50.0,26.8
1903943,TXG,2019-09-16,2020-08-12,5093.9,-49.7,-51.7,5.125300e+09,-22.5,-48.6,26.1
1903944,TXG,2019-09-13,2020-08-12,4821.9,-47.0,-48.9,4.853300e+09,-21.3,-46.1,24.7
1903945,TXG,2019-09-12,2020-08-12,4866.4,-47.5,-49.4,4.897800e+09,-21.5,-46.5,24.9

### Quandl Commodities

#### Experiments

In [15]:
code = 'CHRIS_CME_DA1'

In [16]:
base_path = os.path.dirname(os.getcwd()) + '/datasets/quandl/commodity'
path = f'{base_path}/{code}.json'
if not os.path.exists(path):
    print(f'Error: {code}')

with open(path, "r") as read_file:
    data = json.load(read_file)

data = np.array(data['dataset']['data'])
data

array([['2021-06-29', 17.21, 17.21, ..., 17.19, 13.0, 4308.0],
       ['2021-06-28', 17.2, 17.22, ..., 17.2, 39.0, 4333.0],
       ['2021-06-25', 17.2, 17.2, ..., 17.18, 17.0, 4334.0],
       ...,
       ['2011-10-05', 17.69, 17.89, ..., 17.82, 207.0, 5374.0],
       ['2011-10-04', 17.43, 17.68, ..., 17.65, 250.0, 5435.0],
       ['2011-10-03', 17.47, 17.51, ..., 17.4, 218.0, 5481.0]],
      dtype=object)

In [17]:
df = pd.DataFrame()
df['date'] = data[:, 0].astype(np.datetime64)
df['price'] = data[:, 1].astype('float')
df['date'] = df['date'].astype(np.datetime64)
df['commodity_code'] = code
df

           date  price commodity_code
0    2021-06-29  17.21  CHRIS_CME_DA1
1    2021-06-28  17.20  CHRIS_CME_DA1
2    2021-06-25  17.20  CHRIS_CME_DA1
3    2021-06-24  17.21  CHRIS_CME_DA1
4    2021-06-23  17.33  CHRIS_CME_DA1
...         ...    ...            ...
2430 2011-10-07  17.85  CHRIS_CME_DA1
2431 2011-10-06  17.94  CHRIS_CME_DA1
2432 2011-10-05  17.69  CHRIS_CME_DA1
2433 2011-10-04  17.43  CHRIS_CME_DA1
2434 2011-10-03  17.47  CHRIS_CME_DA1

[2435 rows x 3 columns]

##### Load actual

Code above was wrapped with `quandl_commodity_to_df`

In [18]:
df_commodity = quandl_commodity_to_df(base_path=base_path)
df_daily

,ticker,date,lastupdated,ev,evebit,evebitda,marketcap,pb,pe,ps
0,ZI,2021-07-21,2021-07-21,21033.0,199.7,132.0,2.048380e+10,37.0,-25604.7,38.8
1,ZI,2021-07-20,2021-07-20,21095.6,200.3,132.3,2.054640e+10,37.1,-25683.0,39.0
2,ZI,2021-07-19,2021-07-19,20258.1,192.4,127.1,1.970890e+10,35.6,-24636.1,37.4
3,ZI,2021-07-16,2021-07-16,20019.3,190.1,125.6,1.947010e+10,35.1,-24337.6,36.9
4,ZI,2021-07-15,2021-07-15,20019.3,190.1,125.6,1.947010e+10,35.1,-24337.6,36.9
...,...,...,...,...,...,...,...,...,...,...
1903941,TXG,2019-09-18,2020-08-12,5725.3,-55.9,-58.1,5.756700e+09,-25.3,-54.6,29.3
1903942,TXG,2019-09-17,2020-08-12,5240.6,-51.1,-53.2,5.272000e+09,-23.1,-50.0,26.8
1903943,TXG,2019-09-16,2020-08-12,5093.9,-49.7,-51.7,5.125300e+09,-22.5,-48.6,26.1
1903944,TXG,2019-09-13,2020-08-12,4821.9,-47.0,-48.9,4.853300e+09,-21.3,-46.1,24.7
1903945,TXG,2019-09-12,2020-08-12,4866.4,-47.5,-49.4,4.897800e+09,-21.5,-46.5,24.9